/Trabalho1/nbproject/private/
/Trabalho1/build/
/Pratica1/nbproject/private/
/Pratica1/build/
/Trabalho2/nbproject/private/
/Trabalho2/build/
/Trabalho2/dist/
/Trabalho3/nbproject/private/
/Trabalho3/build/
/forum/nbproject/private/
/forum/build/
/HelloTensorFlow/nbproject/private/
/HelloTensorFlow/build/
/HelloTensorFlowTeste/target/
/Trabalho5/nbproject/private/